body {
    font-family: 'Arial', sans-serif;
    padding: 2em;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

h3 {
    margin-top: 0;
}

.prix {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-weight: bold;
    color: #e55;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* ... autres styles ... */

.avis-section {
    margin-top: 3em;
    width: 60%;
    margin: 3em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"], textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

button {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
    .avis-section {
        width: 90%;
    }
}

